# Titanic Dataset Analysis

# Set Up

In [1]:
#importing necessary libraries
import pandas as pd
import numpy as np
from collections import Counter

In [2]:
#reading csv
df = pd.read_csv("titanic.csv", index_col="PassengerId")

# Using Pandas methods to explore the dataset

In [3]:
# inspect dataframe
df.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,Mr. Owen Harris,male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,Mrs. John Bradley (Florence Briggs Thayer),female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,Miss. Laina,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,Mrs. Jacques Heath (Lily May Peel),female,35.0,1,0,113803,53.1000,C123,S
5,0,3,Mr. William Henry,male,35.0,0,0,373450,8.0500,NaN,S

In [5]:
# checking column dtypes and non-null amount of values
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 1 to 891
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Name      891 non-null    object
 3   Sex       891 non-null    object
 4   Age       714 non-null    float64
 5   SibSp     891 non-null    int64
 6   Parch     891 non-null    int64
 7   Ticket    891 non-null    object
 8   Fare      891 non-null    float64
 9   Cabin     204 non-null    object
 10  Embarked  889 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 83.5+ KB

In [6]:
# inspect summary of central tendency and dispersion of numerical variables
df.describe()

         Survived      Pclass         Age       SibSp       Parch        Fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

# Part 1: Basic Exploratory Analysis

## Question 1
Read the dataset correctly using pandas, using an appropriate column as index. What is the PassengerId of "Mr. Robert William Norman"?

In [7]:
passenger_id = df.loc[df['Name']=="Mr. Robert William Norman"].index[0]

In [8]:
print("Passenger ID for Mr. Robert William Norman is :", passenger_id)

Passenger ID for Mr. Robert William Norman is : 235

## Question 2
Compute the percentage of survivors out of total number of passengers and the percentage of men and women out of total number of passengers.

In [9]:
total_number_people = df.shape[0]

In [10]:
people_survived = df['Survived'].value_counts().loc[1]

In [11]:
# % survivors out of total number of passengers
percentage_survivors = people_survived / total_number_people * 100
print("Survivors out of total number of passengers:", percentage_survivors.round(2), "%")

Survivors out of total number of passengers: 38.38 %

In [12]:
num_men = df['Sex'].value_counts().loc["male"]
num_women = df['Sex'].value_counts().loc["female"]

In [13]:
# % of men out of total number of passengers
percentage_men = num_men / total_number_people * 100
print("% of men out of total number of passengers:", percentage_men.round(2), "%")

# % of women out of total number of passengers
percentage_women = num_women / total_number_people * 100
print("% of women out of total number of passengers:", percentage_women.round(2), "%")

% of men out of total number of passengers: 64.76 %
% of women out of total number of passengers: 35.24 %

## Question 3
Compute the percentage of survivors by sex (i.e. the percentage of male passengers that survived and female passengers that survived) and the sex distribution of survivors (i.e. percentage of survivors that were men and percentage of survivors that were women).

In [14]:
num_men_survived = df.loc[df['Sex']=="male"]["Survived"].value_counts().loc[1]
num_women_survived = df.loc[df['Sex']=="female"]["Survived"].value_counts().loc[1]

In [15]:
# % of male that survived
percentage_men_survivors = num_men_survived / num_men * 100
print("% of male passengers that survived", percentage_men_survivors.round(2), "%")

# % of female that survived
percentage_women_survivors = num_women_survived / num_women * 100
print("% of female passengers that survived", percentage_women_survivors.round(2), "%")

% of male passengers that survived 18.89 %
% of female passengers that survived 74.2 %

In [16]:
# % of survivors that were men
percentage_survivor_men = num_men_survived / people_survived * 100
print("% of survivors that were men:", percentage_survivor_men.round(2))

# % of survivors that were women
percentage_survivor_women = num_women_survived / people_survived * 100
print("% of survivors that were women:", percentage_survivor_women.round(2))

% of survivors that were men: 31.87
% of survivors that were women: 68.13

## Question 4
Display in a 2 x 2 DataFrame the probability of being male/female and surviving/not surviving.

In [57]:
print(df.groupby(["Sex", "Survived"]).size().div(len(df)).unstack().rename(columns={0: "Not Survived", 1: "Survived"}).iloc[:, ::-1].to_string())

Survived  Survived  Not Survived
Sex
female    0.261504      0.090909
male      0.122334      0.525253

## Question 5
Display in a DataFrame the probability of survival/not survival of all combinations of sex and class.

In [19]:
print(df.groupby(["Sex", "Pclass", "Survived"]).size().div(len(df)).unstack().rename(columns={0: "Not Survived", 1: "Survived"}).iloc[:, ::-1].to_string())

Survived       Survived  Not Survived
Sex    Pclass
female 1       0.102132      0.003367
       2       0.078563      0.006734
       3       0.080808      0.080808
male   1       0.050505      0.086420
       2       0.019080      0.102132
       3       0.052750      0.336700

# Part II: Insights and Imputation

# Question 6

## Insights
1. What percentage of children survived per class? (Age, Survived, Class)
2. What is the percentage of men that have unknown cabins per fare tier? (Cabins, Fare, Sex)
3. How much do women pay more or less than men depending on the port? (Sex, Embarked, Fare)

#### 1. What percentage of children survived per class? (Age, Survived, Class)

In [20]:
# select dataframe for children only (age lower than 18)

df_under_18_df = df.loc[df["Age"] < 18]

In [21]:
# group by Pclass and Survived to check percentage of kids that survived per class.

percentage_child_survivors_per_class = df_under_18_df.groupby("Pclass")["Survived"].mean().round(4)*100

In [22]:
percentage_child_survivors_per_class

Pclass
1    91.67
2    91.30
3    37.18
Name: Survived, dtype: float64

In [23]:
# output

print("1st class had the largest percentage of child survivors, ", 
      percentage_child_survivors_per_class[1], 
      "%, followed by 2nd class with", 
      percentage_child_survivors_per_class[2], 
      "%, followed by 3rd class with,", 
      percentage_child_survivors_per_class[3],
      "%."
     )

1st class had the largest percentage of child survivors,  91.67 %, followed by 2nd class with 91.3 %, followed by 3rd class with, 37.18 %.

#### 2. What is the percentage of men that have unknown cabins per fare tier? (Cabins, Fare, Sex)

In [24]:
# create a dataframe for men

df_men = df.loc[df['Sex']=='male'].copy()

In [25]:
# maximum fare 

fare_max = df_men["Fare"].max()

In [26]:
# minimum fare 

fare_min = df_men["Fare"].min()

In [27]:
# creating bins for the fare tiers 

fare_bins_upper_limit = {}
for i in range(1,5):
    fare_bins_upper_limit[i] = i * (fare_max / 4)

fare_bins_upper_limit

{1: 128.0823, 2: 256.1646, 3: 384.2469, 4: 512.3292}

In [28]:
# setting conditions that will be applied to the dataframe

conditions = [
    (df_men["Fare"] <= fare_bins_upper_limit[1]),
    (df_men["Fare"] > fare_bins_upper_limit[1]) & (df_men["Fare"] <= fare_bins_upper_limit[2]),
    (df_men["Fare"] > fare_bins_upper_limit[2]) & (df_men["Fare"] <= fare_bins_upper_limit[3]),
    (df_men["Fare"] > fare_bins_upper_limit[3]) & (df_men["Fare"] <= fare_bins_upper_limit[4])
    ]

In [29]:
# setting values that will be imputed if matching condition is met

values = ['tier_1', 'tier_2', 'tier_3', 'tier_4']

In [30]:
# use np.select to use the conditions and values and create new column "FareTier"

df_men['FareTier'] = np.select(conditions, values)

In [31]:
# creating table for number of null cabins per fare tier 

num_null_cabins_per_fare_tier = df_men.groupby("FareTier")["Cabin"].apply(lambda x: x.isnull().sum())

In [32]:
# creating table for number of total cabins per fare tier 

num_total_cabins_per_fare_tier = (df_men.groupby("FareTier")["Cabin"].size())

In [33]:
# calculating ratio of null cabins to total cabins per fare tier 

fare_tier_percentage = (num_null_cabins_per_fare_tier / num_total_cabins_per_fare_tier).round(4)*100

In [34]:
fare_tier_percentage

FareTier
tier_1    82.65
tier_2    37.50
tier_3     0.00
tier_4     0.00
Name: Cabin, dtype: float64

In [35]:
#output

print(fare_tier_percentage[0],
      "% of men with a ticket costing less than",
      round(fare_bins_upper_limit[1],2),
      "have unknown cabins."
     )
print(fare_tier_percentage[1],
      "% of men with a ticket costing between",
      round(fare_bins_upper_limit[1],2),
      "and",
      round(fare_bins_upper_limit[2],2),
      "have unknown cabins."
     )
print(fare_tier_percentage[2],
      "% of men with a ticket costing between",
      round(fare_bins_upper_limit[2],2),
      "and",
      round(fare_bins_upper_limit[3],2),
      "have unknown cabins."
     )
print(fare_tier_percentage[2],
      "% of men with a ticket costing between",
      round(fare_bins_upper_limit[2],2),
      "and",
      round(fare_bins_upper_limit[3],2),
      "have unknown cabins."
     )

82.65 % of men with a ticket costing less than 128.08 have unknown cabins.
37.5 % of men with a ticket costing between 128.08 and 256.16 have unknown cabins.
0.0 % of men with a ticket costing between 256.16 and 384.25 have unknown cabins.
0.0 % of men with a ticket costing between 256.16 and 384.25 have unknown cabins.

In [79]:
print("The lower the fare paid by men, the greater the percentage of unknown cabins.")

The lower the fare paid by men, the greater the percentage of unknown cabins.

#### 3. How much more or less do women pay on average than men depending on the port at which they embarked? (Sex, Embarked, Fare)

In [36]:
# pivot tabke to compare Sex and Embarked in terms of Fare 

avg_fare_per_sex_and_port = df.loc[df["Embarked"].notnull()].pivot_table(
    index="Sex",
    columns="Embarked",
    values="Fare",
    aggfunc="mean", 
)

avg_fare_per_sex_and_port

Embarked          C          Q          S
Sex
female    75.169805  12.634958  38.740929
male      48.262109  13.838922  21.711996

In [37]:
print("Women embarking at port C pay on average",
      round((avg_fare_per_sex_and_port.iloc[0,0] - avg_fare_per_sex_and_port.iloc[1,0]),2),
      "more than men embarking at the same port.")
print("Women embarking at port Q pay on average",
      round((avg_fare_per_sex_and_port.iloc[1,1] - avg_fare_per_sex_and_port.iloc[0,1]),2),
      "less than men embarking at the same port.")
print("Women embarking at port S pay on average",
      round((avg_fare_per_sex_and_port.iloc[0,2] - avg_fare_per_sex_and_port.iloc[1,2]),2),
      "more than men embarking at the same port.")

Women embarking at port C pay on average 26.91 more than men embarking at the same port.
Women embarking at port Q pay on average 1.2 less than men embarking at the same port.
Women embarking at port S pay on average 17.03 more than men embarking at the same port.

# Question 7
Devise two distinct strategies to impute the missing values in the Age column.

#### First Strategy 
We can assume that male and female passengers will have different mean ages depending on their Pclass. 
We will therefore impute age based on Sex+PClass mean ages for men and women.

In [38]:
# creating a new dataframe to check that the imputing works 

df1 = df

In [39]:
male_female_mean_ages = df1.groupby(['Pclass','Sex' ])['Age'].mean().unstack()

In [40]:
# we can see there are differences between mean ages for male and female depending on which class they were in

male_female_mean_ages

Sex        female       male
Pclass
1       34.611765  41.281386
2       28.722973  30.740707
3       21.750000  26.507589

In [41]:
# assigning all values to variables for each group

female_1 = male_female_mean_ages.loc[1, 'female'].round()
male_1 = male_female_mean_ages.loc[1, 'male'].round()
female_2 = male_female_mean_ages.loc[2, 'female'].round()
male_2 = male_female_mean_ages.loc[2, 'male'].round()
female_3 = male_female_mean_ages.loc[3, 'female'].round()
male_3 = male_female_mean_ages.loc[3, 'male'].round()

In [42]:
# replace NaN values by mean ages

df1.loc[(df['Pclass']==1) & (df1['Sex']=="female") & (df['Age'].isna()), 'Age'] = female_1
df1.loc[(df['Pclass']==1) & (df1['Sex']=="male") & (df['Age'].isna()), 'Age'] = male_1
df1.loc[(df['Pclass']==2) & (df1['Sex']=="female") & (df['Age'].isna()), 'Age'] = female_2
df1.loc[(df['Pclass']==2) & (df1['Sex']=="male") & (df['Age'].isna()), 'Age'] = male_2
df1.loc[(df['Pclass']==3) & (df1['Sex']=="female") & (df['Age'].isna()), 'Age'] = female_3
df1.loc[(df['Pclass']==3) & (df1['Sex']=="male") & (df['Age'].isna()), 'Age'] = male_3

In [55]:
#ensuring that there are no NaN values remaining

df1["Age"].isnull().value_counts()

False    891
Name: Age, dtype: int64

#### Second Strategy
Each imputed age will be the one of the passenger's title group mean age.

In [43]:
#creating new dataframe to test strategy

df2 = df

In [44]:
#creating column 'Title' with every passenger's title

df2['Title'] = df2['Name'].str.split().str[0]

In [45]:
#create a table to access mean age per title group

titles = df2.groupby('Title')['Age'].agg(['mean', 'count'])

In [46]:
titles

                mean  count
Title
Capt.      70.000000      1
Col.       58.000000      2
Don.       40.000000      1
Dr.        41.857143      7
Jonkheer.  38.000000      1
Lady.      48.000000      1
Major.     48.500000      2
Master.     6.816750     40
Miss.      21.967033    182
Mlle.      24.000000      2
Mme.       24.000000      1
Mr.        31.743714    517
Mrs.       34.840000    125
Ms.        28.000000      1
Rev.       43.166667      6
Sir.       49.000000      1
the        33.000000      1

In [47]:
# loop through titles table index to assign mean value of age per title to dataframe

for title in titles.index:
    df2.loc[(df2['Title']==title) & (df2['Age'].isna()), 'Age'] = titles.loc[title,'mean'].round()

In [56]:
#ensuring that there are no NaN values remaining

df2["Age"].isnull().value_counts()

False    891
Name: Age, dtype: int64